

@import url('https://fonts.googleapis.com/css2?family=Afacad&family=Playfair+Display&family=Roboto+Slab&display=swap');


.timelocation{
    height: 176px;
    width: 38%;
    /* border: 2px solid white; */
    position: absolute;
    margin-top: -15.5rem;
    margin-left: 34%;

}
.timelocation p{
    font-family: 'Roboto Slab', serif;
    color: white;
    font-size: 25px;
    margin-top: 17px;

}

.cityname{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.cityname p{
    font-family: 'Afacad', sans-serif;
    margin-top: -176px;
    margin-left: 45%;
    position: relative;
    color: white;
    font-size: 39px;
}